<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tk.exam.mapper.FilmMapper">
    <insert id="insertFilm">
        INSERT INTO sakila(title,description,languge_id)
        VALUES (#{title},#{description},#{languge_id})
    </insert>
</mapper>